.tiles {
	position: relative;
	list-style-type: none;
	text-align: center;
}

.tiles > li {
	position: absolute;
	width: 100px;
	height: 100px;
	line-height: 100px;
}

.tiles.animated > li {
	-webkit-transition: -webkit-transform 1s ease;
	transition: transform 1s ease;
}

/* draggable */

.is-dragging {
	z-index: 99;
}

.tiles > li.is-dragging {
	transition: none; /* neutralize tiles' animation delay */
}

/* XXX: DEBUG */

.tiles > .pin {
	border-radius: 50px;
	background-color: #EDD;
}
.tiles > .app {
	background-color: #DED;
}
.tiles > .feed {
	background-color: #DDE;
}

table {
	border-collapse: collapse;
}
td {
	border: 1px solid #AAA;
	padding: 5px;
	text-align: center;
}
