.tiles {
	position: relative;
	list-style-type: none;
	text-align: center;
    -webkit-transform:translate3d(0,0,0);
}

.tiles > li {
	position: absolute;
    top: 0;
    left: 0;
	width: 100px;
	height: 100px;
	line-height: 100px;
    transition: all 0.5s;
}

.tiles.animated > li {

}

.hidden {
	display: none;
}

/* draggable */

.is-dragging {
	z-index: 99;
}

.tiles > li.is-dragging {
	transition: none; /* neutralize tiles' animation delay */
}

/* XXX: DEBUG */

.tiles > .pin {
	border-radius: 50px;
	background-color: #EDD;
}
.tiles > .app {
	background-color: #DED;
}
.tiles > .freezed {
	background-color: #247600;
}
.tiles > .feed {
	background-color: #DDE;
}

table {
	border-collapse: collapse;
}
td {
	border: 1px solid #AAA;
	padding: 5px;
	text-align: center;
}
